name: CD - Deploy using Self Hosted Runner

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Pull latest Docker image
        run: docker pull shagun1/web_weather:latest

      - name: Stop old container
        run: docker stop weather-app || true

      - name: Remove old container
        run: docker rm weather-app || true

      - name: Run new container
        run: |
          docker run -d ^
            --name weather-app ^
            -p 5000:5000 ^
            -e OPENWEATHER_API_KEY=${{ secrets.OPENWEATHER_API_KEY }} ^
            shagun1/web_weather:latest
