name: CD - Deploy using Self Hosted Runner

on:
  workflow_run:
    workflows: ["CI - Build & Push Docker Image"]
    types:
      - completed

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Pull latest Docker image
        shell: powershell
        run: docker pull shagun1/web_weather:latest

      - name: Stop old container if exists
        shell: powershell
        run: |
          if (docker ps -a --format "{{.Names}}" | Select-String "weather-app") {
            docker stop weather-app
          }

      - name: Remove old container if exists
        shell: powershell
        run: |
          if (docker ps -a --format "{{.Names}}" | Select-String "weather-app") {
            docker rm weather-app
          }

      - name: Free port 5000 (safety step)
        shell: powershell
        run: |
          $pid = (netstat -ano | Select-String ":5000" | ForEach-Object { ($_ -split '\s+')[-1] } | Select-Object -First 1)
          if ($pid) { taskkill /PID $pid /F }

      - name: Run new container
        shell: powershell
        run: |
          docker run -d `
            --name weather-app `
            -p 5000:5000 `
            -e OPENWEATHER_API_KEY=${{ secrets.OPENWEATHER_API_KEY }} `
            shagun1/web_weather:latest
